In [2]:
c = set()
c = {1,2,2}
print(c)

{1, 2}

In [4]:
l = list(c)

In [5]:
print(l)

[1, 2]

In [9]:
numeros = {4:"cuatro",5:"cinco"}
print(numeros)

{4: 'cuatro', 5: 'cinco'}

In [12]:
numeros[4] = 'four'

In [13]:
print(numeros)

{4: 'four', 5: 'cinco'}

In [22]:
edades = { 'juan':34 , 'roberto':78 }
for clave in edades:    
    print(clave," : ",edades[clave]," años ")

juan  :  34  años
roberto  :  78  años

In [23]:
from collections import deque

In [24]:
cola = deque()

In [25]:
cola

deque([])

In [29]:
cola = deque(["Hector","Juan","Miguel"])

In [30]:
cola

deque(['Hector', 'Juan', 'Miguel'])

In [31]:
cola

deque(['Hector', 'Juan', 'Miguel'])

In [33]:
cola.append("Maria")
cola.append("Arnaldo")

In [34]:
cola

deque(['Hector', 'Juan', 'Miguel', 'Maria', 'Arnaldo', 'Maria', 'Arnaldo'])

In [36]:
name = cola.popleft()

In [37]:
name

'Juan'

In [39]:
cola

deque(['Miguel', 'Maria', 'Arnaldo', 'Maria', 'Arnaldo'])

In [40]:
p = cola.popleft()

In [42]:
p

'Miguel'